<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aemm.primerproyecto">
    <!-- Permiso necesario para que la aplicacion funcione correctamente -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/fragment_lista_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimerProyecto"
        tools:targetApi="31">
        <!-- Activity Principal -->
        <activity
            android:name=".ejerciciofinal3.MainAnimalActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity que muestra los detalles de una Animal de la Base de Datos -->
        <activity
            android:name=".ejerciciofinal3.DetalleAnimalActivity"
            android:label="Editar el Animal"
            android:exported="false"
            android:parentActivityName=".ejerciciofinal3.MainAnimalActivity">


        </activity>
        <!-- Activity que crea un Animal -->
        <activity
            android:name=".ejerciciofinal3.CreateAnimalActivity"
            android:label="Agregar Animal al Catalogo"
            android:exported="false"
            android:parentActivityName=".ejerciciofinal3.MainAnimalActivity">
        </activity>
    </application>

</manifest>