<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aemm.primerproyecto">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/fragment_lista_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrimerProyecto"
        tools:targetApi="31">
        <!--
        <activity
            android:name=".AnimalActivity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".FragmentManagerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!--
        <activity
            android:name=".FragmentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!--
        <activity
            android:name=".TabsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!--
        <activity
            android:name=".RecyclerViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        -->
        <!--
        <activity
            android:name=".ejerciciofinal.Activity1"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="false" />
        <activity
        -->
        <!--
        <activity
            android:name=".ExplicitActivity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".ejercicioclase.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        -->
        <!-- Activity Principal -->
        <!--
        <activity
            android:name=".ejerciciofinal.Activity1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ejerciciofinal.Activity2"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".ejercicioclase.layouts.RecyclerViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ejercicioclase.almacenamiento.FileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>